.list-content{
  
}

body{
    font-family: 'Bangers', cursive;
    letter-spacing: 0.5px;
}

.frase-rapero{
    font-size: 150%;
   
}

.raper-title{
    text-align: center;
}

.play-button{
    position: relative;
    margin-right: 0px;
    display: inline-block;
    letter-spacing: 5px;
}

.download-button{
    position: relative;
    margin-right: 0px;
    display: inline-block;
    letter-spacing: 5px;
}


.img-rounded.rapper{
    margin-left: 40px;
}

.black-background {background-color:#000000;}
.white {color:#ffffff;}