
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    letter-spacing: 0.5px;
    color: aquamarine;
    background-color: #b967ff;
    cursor: url("images/hakim_mouse.png"), auto;
}

.container-fluid{
    background-color: #fffb96;
    color: aquamarine;
}

.list-group-item{
    background-image: url(images/pattern_background.png)
}seb

a{
    cursor: pointer;
}

.frase-rapero{
    font-size: 150%;
    font-style: oblique;  
    font-weight: bold;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

img:hover{
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

.play-button .btn{
    color: #e60073
}

.download-button .btn{
    color: chartreuse
}


.share-button .btn{
    color: darkblue;
}

.raper-title{
    font-size: 34px;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
     animation: glow 1s ease-in-out infinite alternate;
}

.play-button{
    position: relative;
    margin-right: 0px;
    display: inline-block;
    letter-spacing: 5px;
}

.download-button{
    position: relative;
    margin-right: 0px;
    display: inline-block;
    letter-spacing: 5px;
}


.img-rounded.rapper{
    margin-left: 40px;
}

.black-background {background-color:#000000;}
.white {color:#ffffff;}


#louisvi{
    background-image: url(images/pattern_background.png);
}